@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(User.Identity.IsAuthenticated)
    {
        <a asp-action="ActivarAutenticador" asp-controller="Cuentas" class="btn btn-primary">Configurar  Autenticador de 2 factores</a>
       
    }
</div>
