@model AutenticacionDosFactoresViewModel

<p>Por  Favor ingrese el codigo de abajo en su APP  Autotenticador</p>
<p>@Model.Token</p>


<form method="post">
    <input type="hidden" asp-for="Token"  />
    <hr/>
    <div class="row">
        <div class="col-sm-7">
            <div class="col-md-12">
                <label asp-for="Code"></label>
                <input  type="text" asp-for="Code" class="form-control mt-3" placeholder="Escribe el codigo de autoticador"/>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-5">
                <div class="col-md-12 pt-4">
                    <button type="submit" class="btn btn-primary mt-3"><i class="bi bi-box-arrow-in-right"></i>Enviar</button>
                </div>
            </div>

        </div>
    </div>
</form>